<section class='short-story story-{{doc.country_1_name}}'>
    <div class='short-story__intro'>        
        {{#each doc.country_detail_1}}
            <p class='story-text'>{{{value}}}</p>
        {{/each}}</div>
    <div class='short-story__header header-{{doc.country_1_name}}'>
        <p class='em-dash-border'>—</p>
        <p class='short-story__title title-{{doc.country_1_name}}'>{{doc.country_1_name}}</p>
    </div>
</section>


<section class='short-story story-{{doc.country_2_name}}'>
    <div class='short-story__intro'>        
        {{#each doc.country_detail_2}}
            <p class='story-text'>{{{value}}}</p>
        {{/each}}</div>
    <div class='short-story__header header-{{doc.country_2_name}}'>
        <p class='em-dash-border'>—</p>
        <p class='short-story__title title-{{doc.country_2_name}}'>{{doc.country_2_name}}</p>
    </div>
</section>


<section class='short-story story-{{doc.country_3_name}}'>
    <div class='short-story__intro'>        
        {{#each doc.country_detail_2}}
            <p class='story-text'>{{{value}}}</p>
        {{/each}}</div>
    <div class='short-story__header header-{{doc.country_3_name}}'>
        <p class='em-dash-border'>—</p>
        <p class='short-story__title title-{{doc.country_3_name}}'>{{doc.country_3_name}}</p>
    </div>
</section>

<section class='explore instability'>
    <nav class='explore__nav-bar instability'></nav>
    <div class='explore__map-container instability'>
        
    </div>
</section>
{{!-- <section class='explore__economic-educational'></section>
<section class='explore__community'></section> --}}

